{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load crispy_forms_field %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Add your other CSS imports here -->
</head>

<style>
    .centered-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh; /* Adjust the height to center vertically */
    }

    .form-field {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
</style>

<form action="" method="post" class="bootstrap5 form-field">
    {% csrf_token %}

    <h3>Company Information</h3>

    <div class="row g-2 w-50">
        <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_name|as_crispy_field }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_address_lines|as_crispy_field }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_zip_code|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row g-2 w-50">
        <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_state|as_crispy_field }}
            </div>
        </div>
        {% comment %} <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_country|as_crispy_field }}
            </div>
        </div> {% endcomment %}
        <div class="col-md">
            <div class="form-floating">
                {{ second_form.company_city|as_crispy_field }}
            </div>
        </div>
    </div>

    <h3>User Information</h3>
    <div class="row g-2 w-25">
        <div class="col-md">
            <div class="form-floating">
                {{ form.username|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row g-2 w-50">
        <div class="col-md">
            <div class="form-floating">
                {{ form.first_name|as_crispy_field }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row g-2 w-50">
        <div class="col-md">
            <div class="form-floating">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                {{ form.user_phone|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row g-2 w-50">
        <div class="col-md">
            <div class="form-floating">
                {{ form.password1|as_crispy_field }}
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row g-2 ">
        <div class="col-md">
            <div class="form-floating">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</form>


<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zippopotam-us/2.4.0/zippopotam-us.min.js"></script>
    <script>
        // Function to populate City and State based on Zip Code
        function populateCityAndState(zipCode) {
            if (!zipCode) return; // Exit if no zip code provided
            
            // Use the Zippopotam library to fetch location data
            Zippopotam.get(zipCode).then(function(response) {
                // Assuming you have fields with IDs 'id_company_city' and 'id_company_state'
                document.getElementById('id_company_city').value = response.places[0]['place name'];
                document.getElementById('id_company_state').value = response.places[0]['state'];
            }).catch(function(error) {
                console.error(error);
            });
        }
        
        // Event listener for Zip Code input
        document.getElementById('id_company_zip_code').addEventListener('blur', function() {
            var zipCode = this.value;
            populateCityAndState(zipCode);
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>
