{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_field %}

{% block content %}
<div style="height: 100vh; overflow-y: scroll;">
    <div class="container">
        <div class="col-md-8">
            
            <p><strong>Current Plan:</strong> {{ company.company_current_plan }}</p>
            <p><strong>Subscription Status:</strong> {{ company.company_subscription_status }}</p>

            
            <a href="{% url 'myprofile:myprofile' %}" class="btn btn-primary" type="submit"> Back to Profile </a>
        </div>
    </div>
</div>


{% endblock content %}
