{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_field %}

{% block content %}

    <form action="" method="post" class="bootstrap5">
        {% csrf_token %}

        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{ form.client|as_crispy_field }}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{ form.work_order_type|as_crispy_field }}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{ form.work_order_due_date|as_crispy_field }}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{ form.work_order_status|as_crispy_field }}
                </div>
            </div>
        </div>

        
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{ form.estimated_cost|as_crispy_field }}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{ form.quoted_price|as_crispy_field }}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{ form.security_deposit|as_crispy_field }}
                </div>
            </div>
        </div>
        
        
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{ form.work_order_description|as_crispy_field }}
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Update</button>
    </form>

{% endblock content %}

