{% extends "base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
{% endblock head %}

{% block content %}
    <div class="container" style="height: 100vh; overflow-y: scroll;">
    

        {% comment %} Header Filters div {% endcomment %}
        <div class="row align-items-end mb-5">

            {% comment %} Order Status Filter {% endcomment %}
            <div class="col">
                <form method="get" action="{% url 'orders:order-list' %}">
                    <select 
                      class="form-select" 
                      id="multiple-select-field" 
                      name="order_status" 
                      multiple>
                        {% for status_option in all_possible_statuses %}
                            <option value="{{status_option}}" {% if status_option in selected_statuses %}selected{% endif %}>
                                {{status_option}}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                
                <script>
                    $(document).ready(function() {
                        $('#multiple-select-field').select2({
                            theme: "bootstrap-5",
                            placeholder: "Select order statuses",
                            allowClear: true,
                        }).on('change', function() {
                            $(this).closest('form').submit();
                        });
                    });
                </script>

            </div>
            
            {% comment %} Client Search Textbox with Select2 {% endcomment %}
            <div class="col">
                <form method="get" action="{% url "orders:order-list" %}">
                    <select 
                        class="form-select" 
                        name="client_id" 
                        id="client_search_orders" 
                        placeholder="Search Clients"
                        multiple>
                        {% for client_info in selected_clients_info %}
                        <option value="{{ client_info.0 }}" selected>
                            {{ client_info.1 }} {{ client_info.2 }} | {{ client_info.3 }} | {{ client_info.4 }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
                <script>
                    $(document).ready(function() {
                        $("#client_search_orders").select2({
                            theme: "bootstrap-5",
                            ajax: {
                                url: '{% url 'orders:client-autocomplete' %}',
                                dataType: 'json',
                                delay: 250,
                                data: function(params) {
                                    return {
                                        term: params.term // search term
                                    };
                                },
                                processResults: function(data) {
                                    return {
                                        results: data
                                    };
                                }
                            },
                            placeholder: "Search Clients"
                        }).on('change', function() {
                            $(this).closest('form').submit();
                        });
                    });
                </script>
            </div>

            <div class="col-auto">
                {% comment %} Reset Sorting Button {% endcomment %}
                <a id="reset_sorting_btn" href="{% url 'orders:order-list' %}?{{ order_status_query_string }}{% if request.GET.client_details %}&client_details={{request.GET.client_details}}{% endif %}" class="btn btn-secondary">
                    Reset Sorting
                </a>
            </div>

            {% comment %} Orders Per Page Form {% endcomment %}
            <div class="col-auto align-self-top">
                <form id="pagination_form_orders" method="get" action="{% url 'orders:order-list' %}">
                    <label for="orders_per_page_selector"> Orders per Page </label>
                    <select name="page_size" id="orders_per_page_selector" class="form-select">
                        {% for choice in pagination_form_orders.page_size.field.choices %}
                            <option value="{{ choice.1 }}" {% if choice.1 == orders_per_page or choice.0 == orders_per_page %} selected {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- Preserve order status filter after orders per page change -->
                    {% for status in selected_statuses %}
                        <input type="hidden" name="order_status" value="{{ status }}">
                    {% endfor %}
                </form>
                <script>
                    document.getElementById('orders_per_page_selector').addEventListener('change', function() {
                        document.getElementById('pagination_form_orders').submit();
                    });
                </script>
            </div> 
        </div>


        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Order Picture</th>
                <th scope="col">Client Name</th>
                <th class="text-center" scope="col">Order Status</th>
                <th scope="col">Order Type</th>
                <th scope="col">
                    <a href="?{{ order_status_query_string }}{% if request.GET.client_details %}&client_details={{request.GET.client_details}}{% endif %}{% if request.GET.sort_by == 'work_order_date' %}&sort_by=-work_order_date {% else %}&sort_by=work_order_date{% endif %}">
                        Order Date
                    </a>                
                    {% if request.GET.sort_by == "work_order_date" %}
                        &uarr;
                    {% elif request.GET.sort_by == "-work_order_date" %}
                        &darr;
                    {% endif %}
                </th>
                <th scope="col">
                    <a href="?{{ order_status_query_string }}{% if request.GET.client_details %}&client_details={{request.GET.client_details}}{% endif %}{% if request.GET.sort_by == 'work_order_due_date' %}&sort_by=-work_order_due_date{% else %}&sort_by=work_order_due_date{% endif %}">
                        Due Date
                    </a>
                    {% if request.GET.sort_by == "work_order_due_date" %}
                        &uarr;
                    {% elif request.GET.sort_by == "-work_order_due_date" %}
                        &darr;
                    {% endif %}
                </th>
                <th scope="col">Order Price</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                {% for order_list in order_list %}
                {% if user.company == order_list.company %}
                <tr style="vertical-align: middle">
                    <th scope="row">{{ forloop.counter }}</th>

                    <td>
                        {% if order_list.order_photo %}
                            <img class="rounded-image" src="{{ order_list.order_photo.url }}" alt="Order Photo">
                        {% else %}
                            -
                        {% endif %}
                    </td>

                    <td>{{ order_list.client.client_first_name }} {{ order_list.client.client_last_name }}</td>


                    <td class="text-center">
                        {% if order_list.work_order_status == 'Cancelled' %}
                            <div class="status-div status-cancelled">
                                {{ order_list.work_order_status }}
                            </div>
                        {% endif %}
                        {% if order_list.work_order_status == 'In Progress' %}
                            <div class="status-div status-in-progress">
                                {{ order_list.work_order_status }}
                            </div>
                        {% endif %}
                        {% if order_list.work_order_status == 'Completed' %}
                            <div class="status-div status-completed">
                                {{ order_list.work_order_status }}
                            </div>
                        {% endif %}
                    </td>

                    <td>{{ order_list.work_order_type }}</td>
                    <td>{{ order_list.work_order_date }}</td>
                    <td>{{ order_list.work_order_due_date }}</td>
                    <td>{{ order_list.quoted_price }}</td>
                    <td>
                        <a href="{% url 'orders:order-update' order_list.pk %}">Edit</a> |
                        {% if user.is_owner or user.is_employee %}
                        <a href="{% url 'orders:order-delete' order_list.pk %}">Delete</a>
                        {% endif %}
                    </td>

                </tr>
                {% endif %}
                {% endfor %}

                {% comment %} Modal for displaying image {% endcomment %}
                <div id="imageModal" class="modal">
                    <span class="close" id="closeModal">&times;</span>
                    <img class="modal-content" id="modalImage">
                    
                </div>

                <script>
                    // Get the modal and image elements
                    var modal = document.getElementById("imageModal");
                    var modalImg = document.getElementById("modalImage");
                    
                    // Get all images with the class "rounded-image"
                    var images = document.querySelectorAll(".rounded-image");
                    
                    // Get the close button
                    var closeModal = document.getElementById("closeModal");
                    
                    // Loop through all images and add an event listener to each
                    images.forEach(function(image) {
                        image.addEventListener("click", function() {
                            modal.style.display = "block";
                            modalImg.src = this.src;
                        });
                    });
                    
                    // Close the modal when the close button is clicked
                    closeModal.onclick = function() {
                        modal.style.display = "none";
                    };
                    
                    // Close the modal when the user clicks outside of the modal
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    };
                </script>
            </tbody>
        </table>

        {% comment %} Pagination Controls {% endcomment %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Order List Pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" 
                                href="?{{ order_status_query_string }}&page=1&page_size={{ orders_per_page}}&sort_by={{sort_by}}" 
                                aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" 
                                href="?{{ order_status_query_string }}&page={{ page_obj.previous_page_number }}&page_size={{ orders_per_page}}&sort_by={{sort_by}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
            
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <a class="page-link" 
                                    href="?{{ order_status_query_string }}&page={{ num }}&page_size={{ orders_per_page}}&sort_by={{sort_by}}"
                                            >{{ num }}
                                </a>
                            </li>
                        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                            <li class="page-item">
                                <a class="page-link" 
                                    href="?{{ order_status_query_string }}&page={{ num }}&page_size={{ orders_per_page}}&sort_by={{sort_by}}"
                                        >{{ num }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" 
                                href="?{{ order_status_query_string }}&page={{ page_obj.next_page_number }}&page_size={{ orders_per_page}}&sort_by={{sort_by}}" 
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" 
                                href="?page={{ page_obj.paginator.num_pages }}&page_size={{ orders_per_page}}&{{ order_status_query_string }}&sort_by={{sort_by}}" 
                                aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock content %}

