.status-div { 
  color: white; 
  border-radius: 4px; 
  padding: 4px 10px;
  font-weight: bold;
}

.status-completed {
  background-color: green;
}

.status-cancelled {
  background-color: darkred;  
}

.status-in-progress { 
  background-color: darkgoldenrod;
}


.rounded-image {
  border-radius: 100%; /* Makes the image round */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  object-fit: cover; /* Scales the image to cover the entire container */
}