<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DJTICKET</title>
</head>
<body>
    <h1>Orders page</h1>
    <a href="/customer_create/">Create new client</a>
    <a href="/order_create/">Create new order</a>
    {% for orders in orders %}
        <div class="client">
            <div class="orders">
                    #{{ forloop.counter }}|
                    Customer: {{ orders.client }}|
                    Order Status: {{ orders.work_order_status }}|
                    Order Type: {{ orders.work_order_type }}|
                    Order Price: {{ orders.quoted_price }}|
                    Action: 
                    <a href="/{{ orders.pk }}/update/">Edit</a>|
                    <a href="/{{ orders.pk }}/delete/">Delete</a>
            </div>
        </div>
    {% endfor %}
</body>
</html>

