<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Details</title>
    <style>
        .order_detail {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>This is the details of {{ client.client_first_name }} {{ client.client_last_name }}</h1>
</body>
</html>