{% extends "base.html" %}
{% block content %}
    <hr>
    {% for order_list in order_list %}
        <div class="customer">
            #{{ forloop.counter }}|
            Client: {{ order_list.client }}|
            Order Status: {{ order_list.work_order_status }}|
            Order Type: {{ order_list.work_order_type }}|
            Order Price: {{ order_list.quoted_price }}|
            Action: 
            <a href="{% url 'customers:order-update' order_list.pk %}">Edit</a>|
            <a href="{% url 'customers:order-delete' order_list.pk %}">Delete</a>
        </div>
    {% endfor %}
    <hr>
{% endblock content %}

