<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DJTICKET</title>
    <style>
        .orders {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Orders page</h1>
    {% for orders in orders %}
        <div class="orders">
            {{ forloop.counter }}
            <a href="/{{ orders.pk }}/">{{ orders.client }}</a>|
            {{ orders.company }}|
            Assigned to: {{ orders.user }}|
            Order Price: {{ orders.work_order_price }}|
            Order Type: {{ orders.work_order_type }}|
            Order Status: {{ orders.work_order_status }}|
        <div>
    {% endfor %}
</body>
</html>