<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DJTICKET</title>
</head>
<body>
    <h1>Clients</h1>
    <a href="/">Go back to Orders</a>
    {% for clients in clients %}
        <div class="clients">
            #{{ forloop.counter }}
            Client Name: {{ clients.client_first_name }} {{ clients.client_last_name }}|
            Client Phone: {{ clients.client_phone }}|
            Email: {{ clients.client_email }}|
            Total/Spent: {{ clients.total_spent }}|
            Last Order Date: |
            Action: 
            <a href="/{{ clients.pk }}/client_update/">Edit</a>|
            <a href="/{{ clients.pk }}/client_delete/">Delete</a>
        <div>
    {% endfor %}
</body>
</html>