{% extends "base.html" %}
{% block content %}
    {% comment %} Employees Per Page Form {% endcomment %}
    <form id="pagination_form_employees" method="get" action="{% url 'employees:employee-list' %}" class="mb-4">
        <p>User preference from model: {{ request.user.pref_employees_per_page }}</p>
        {{ pagination_form_employees.page_size.label }}: {{ pagination_form_employees.page_size }}
        {% comment %} <input type="submit" value="Update"> {% endcomment %}
    </form>
    <script>
        document.getElementById('pagination_employees').addEventListener('change', function() {
            document.getElementById('pagination_form_employees').submit();
        });
    </script>


    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for employee_list in employee_list %}
            {% if user.company == employee_list.company %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ employee_list.first_name }} {{employee_list.last_name}} </td>
                <td>{{ employee_list.user_phone }} </td>
                <td>{{ employee_list.email }} </td>
                <td>
                    <a href="{% url 'employees:employee-update' employee_list.pk %}">Edit</a> | 
                    {% if user.is_owner %}
                    <a href="{% url 'employees:employee-delete' employee_list.pk %}">Delete</a> 
                    {% endif %} 
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    <table>

    {% comment %} Pagination Controls {% endcomment %}
    <div class="d-flex justify-content-center">
        <nav aria-label="Order List Pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&page_size={{ request.GET.page_size}}" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&page_size={{ request.GET.page_size}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
        
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}&page_size={{ request.GET.page_size}}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}&page_size={{ request.GET.page_size}}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&page_size={{ request.GET.page_size}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&page_size={{ request.GET.page_size}}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}
